<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11539579120-ic6h498mm80lsbce9q06ejhh0sv5ba64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11539579120-ic6h498mm80lsbce9q06ejhh0sv5ba64</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ToO5COnN3RaZ9HzMRcPynz15St0pRiE</string>
	<key>GCM_SENDER_ID</key>
	<string>11539579120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hope.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hope-ca563</string>
	<key>STORAGE_BUCKET</key>
	<string>hope-ca563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11539579120:ios:a1dfbde5f8be5638f00235</string>
</dict>
</plist>